/* Footer */

.footer {
    width: 100%;
    background-color: #efefef;
    color: #333;
    text-align: center;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.footer li,
.footer li a {
    display: inline-block;
}

.footer li a{
    padding: 10px 10px;
    font-size: 12px;
    line-height: 18px;
}

@media (min-width: 720px){
    .footer li a{
        padding: 10px 20px;
        font-size: 16px;
    }
}

.footer p {
    margin: 76px 0 0;
}
