/* Button */

button {
    border: none;
    padding: 10px 15px;
}

.primary-button{
    margin: 10px 0 10px;
    border-radius: 8px;
    background-color: #ffde00;
    color: #3b4cca;
    transition: 0.3s ease-in-out;
}

.primary-button:hover{
    transition: 0.3s ease-in-out;
    background-color: #b3a125;
}

.secondary-button{
    background-color: #c00;
    border-radius: 16px;
    color: #ffde00;
    transition: 0.3s ease-in-out;
}

.secondary-button:hover{
    transition: 0.3s ease-in-out;
    background-color: rgba(204, 0, 0, 0.8);
}

.button-wrapper {  
    box-sizing: border-box;
    margin: 15px auto 0px;
}

@media (min-width: 720px){
    .button-wrapper {
        display: none;
    }
}