/* General*/

.center{
    display: block;
    text-align: center;
    margin: auto;
}

.hide{
    display: none;
}

@media (max-width: 720px){
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
}

@media (min-width: 1024px){
    .hide-on-desktop{
        display: none;
    }
}

h2 {
    margin: 15px 0 0 5px;
    font-size: 31px;
}

h5 {
    margin: 0;
    padding: 5px;
}