/* result-section */ 

.result-section{
    height: 90vh;
    color: #ffde00;
    box-sizing: border-box;
    padding: 0 0 15px;
    background-color: #3b4cca;
    
}

@media (min-width: 720px) {
    .result-section{
        height: 80vh;
        margin-top: 10vh;
        border-radius: 0 8px 8px 0;
    }
}

.result-section-li{
    background-color: #3b4cca;
}

